body{
    background-color: rgb(182, 211, 236);
    margin-left: 35%;
}

#container{
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
}

.gridPixel{
    border: 1px solid rgb(233, 233, 232);
}